<a href="https://colab.research.google.com/github/SRIROSSAAISYAHPUTERIBAHARIE/PSDS-5.0/blob/main/Pengenalan_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SRI ROSSA AISYAH PUTERI BAHARIE**
#**2100015052**
**PERTEMUAN 12**

#**Pandas Data Frame**

Pandas adalah Library analisis data yang memiliki struktur data yang diperlukan untuk membersihkan data mentah ke dalam sebuah bentuk yang cocok untuk analisis (yaitu tabel). Pandas melakukan tugas penting seperti menyelaraskan data untuk perbandingan dan penggabungan set data, penanganan data yang hilang, dll.

#**Import Modul**

In [1]:
import pandas as pd

#**Membuat Data Frame**

**Membuat Matriks Menggunakan List**

In [2]:
#List
List_Buah = ['Jeruk', 'Pepaya', 'Mangga', 'Rambutan', 'Leci', 'Nanas', 'Manggis']

#Membuat Data Frame menggunakan List_Buah
df = pd.DataFrame(List_Buah)
df

          0
0     Jeruk
1    Pepaya
2    Mangga
3  Rambutan
4      Leci
5     Nanas
6   Manggis

**Membuat Data Frame Menggunakan List dan Fungsi Zip**

In [5]:
#List Buah (String)
List_Buah = ['Jeruk', 'Pepaya', 'Mangga', 'Rambutan', 'Leci', 'Nanas', 'Manggis']

#List Berat Buah (Integer)
List_Berat = [50, 800, 150, 10, 2, 300, 70]

#Membuat DataFrame menggunakan dua buah list dengan fungsi zip
df = pd.DataFrame(list(zip(List_Buah, List_Berat)),
                  columns = ['Nama Buah', 'Berat Buah'])
df

  Nama Buah  Berat Buah
0     Jeruk          50
1    Pepaya         800
2    Mangga         150
3  Rambutan          10
4      Leci           2
5     Nanas         300
6   Manggis          70

**Membuat DataFrame Menggunakan List Multidimensi**

In [7]:
#List Multidimensi (Nama, Usia)
List = [['Bejo', 25], ['Ari', 30], ['Asep', 26], ['Richard', 22]]

df = pd.DataFrame(List, columns = ['Nama', 'Usia'])
df

      Nama  Usia
0     Bejo    25
1      Ari    30
2     Asep    26
3  Richard    22

**Membuat DataFrame Menggunakan Dictionary**

Cara yang paling mudah dipahami untuk membuat dataframe adalah menggunakan input dictionary. Yang mana key akan menjadi nama kolom dan valuenya akan menjadi data dalam kolom tersebut (biasanya berupa list). Strukturnya adalah sebagai berikut :

In [8]:
Data = {'Nama Kolom 1': ['Data Baris 1', 'Data Baris 2', ...],
        'Nama Kolom 2': ['Data Baris 1', 'Data Baris 2', ...],
        }
df = pd.DataFrame(Data)

Mobil ={'Type Mobil': ['Honda Civic', 'Toyota Corolla', 'Ford Focus', 'Audi A4'],
        'Harga(USD)': [22000, 25000, 27000, 35000]
        }

df = pd.DataFrame(Mobil)

df

       Type Mobil  Harga(USD)
0     Honda Civic       22000
1  Toyota Corolla       25000
2      Ford Focus       27000
3         Audi A4       35000

#**Mengimport DataFrame**

Kamu dapat mengimpor dataframe dari file berupa tabel lainnya seperti .xls, .xlsx, .csv, .txt, dan .json.

#**Import DataFrame dari File CSV**

In [27]:
df_super_store = pd.read_csv('/content/SampleSuperstore.csv')
df_super_store.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

#**Import DataFrame dari File Excel**

In [28]:
df_pilkada = pd.read_excel('/content/datasetpilkadadki.xlsx')
df_pilkada.head()

,Id,Sentiment,Pasangan Calon,Text Tweet
0,1,negative,Agus-Sylvi,Banyak akun kloning seolah2 pendukung #agussil...
1,2,negative,Agus-Sylvi,#agussilvy bicara apa kasihan yaa...lap itu ai...
2,3,negative,Agus-Sylvi,Kalau aku sih gak nunggu hasil akhir QC tp lag...
3,4,negative,Agus-Sylvi,Kasian oh kasian dengan peluru 1milyar untuk t...
4,5,negative,Agus-Sylvi,Maaf ya pendukung #AgusSilvy..hayo dukung #Ani...

#**DataFrame & Series**

Di pandas terdapat 2 kelas data baru yang digunakan sebagai struktur dari spreadsheet :

1.   **Series**
2.   **DataFrame**

In [23]:
#Series
Number_Series = pd.Series([1, 2, 3, 4, 5, 5])
print("Series")
Number_Series

Series

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

Pada contoh yang diberikan, kita membuat sebuah series menggunakan library pandas. Series adalah struktur data satu dimensi dalam pandas yang dapat menyimpan data homogen (data dengan tipe yang sama).

In [24]:
#DataFrame
Matrix = [[1, 2, 3],
          ['a', 'b', 'c'],
          [3, 4, 5],
          ['d', 4, 6]]
Matrix_df = pd.DataFrame(Matrix)

Matrix_df

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

#**Atribut DataFrame & Series**

DataFrame dan Series memiliki sangat banyak atribut yang digunakan untuk transformasi data, tetapi ada beberapa yang sering dipakai.

In [29]:
df_super_store

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

**1. Atribute .head()**

Atribute .head() untuk melihat 5 (default dan bisa dirubah) data teratas pada dataframe.

In [30]:
df_super_store.head(10)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
5,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7,0.00,14.1694
6,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,0.00,1.9656
7,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,0.20,90.7152
8,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,0.20,5.7825
9,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,114.9000,5,0.00,34.4700

**2. Atribute .tail()**

Atribute .tail() untuk melihat 5 (default dan bisa dirubah) data teratas pada dataframe.

In [31]:
df_super_store.tail()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.248,3,0.2,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.960,2,0.0,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.576,2,0.2,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.600,4,0.0,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.160,2,0.0,72.9480

**3. Atribute .info()**

Atribute .info() digunakan untuk mengecek kolom apa yang membentuk dataframe itu, datatypes, beberapa yang non null, dll. Atribute ini tidak dapat digunakan pada series, hanya pada dataframe saja.

In [32]:
df_super_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

**5. Atribute .dtypes**

Atribute .dtypes digunakan untuk mengetahui tipe data di tiap kolom. Tipe data object : kombinasi untuk berbagai tipe data (number & text, etc).

In [33]:
df_super_store.dtypes

Ship Mode        object
Segment          object
Country          object
City             object
State            object
Postal Code       int64
Region           object
Category         object
Sub-Category     object
Sales           float64
Quantity          int64
Discount        float64
Profit          float64
dtype: object

**6. Atribute .astype(nama_tipe_data)**

Atribute .astype(nama_tipe_data) untuk convert tipe data berdasarkan tipe data seperti : **float, int, str, numpy.float, numpy.int** ataupun **numpy.datetime**

In [34]:
df_str = df_super_store.astype("str")
df_str.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.0,219.582
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0.0,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.031
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.368,2,0.2,2.5164

In [35]:
df_str.dtypes

Ship Mode       object
Segment         object
Country         object
City            object
State           object
Postal Code     object
Region          object
Category        object
Sub-Category    object
Sales           object
Quantity        object
Discount        object
Profit          object
dtype: object

**7. Atribute .copy()**

Atribute .copy() digunakan untuk melakukan duplikat, untuk disimpan di variabel yang berbeda mungkin supaya tidak loading data lagi.

In [36]:
df_SS = df_super_store.copy()
df_SS

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

**8. Atribute .to_list()**

Atribut .to_list() digunakan untuk mengubah series menjadi list dan tidak dapat digunakan untuk dataframe.

In [37]:
print(Number_Series.to_list())

[1, 2, 3, 4, 5, 5]

**9. Atribute .unique()**

Atribut .unique() digunakan menghasilkan nilai unik dari suatu kolom, hasilnya dalam bentuk numpy array. Atribute ini hanya digunakan pada series saja.

In [38]:
print(Number_Series.unique())

[1 2 3 4 5]

**10. Atribute .index**

Atribute .inde digunakan untuk mencari index/key dari Series atau DataFrame.

In [39]:
df_super_store.index

RangeIndex(start=0, stop=9994, step=1)

**11. Atribute .columns**

Atribute .columns digunakan untuk mengetahui apa saja kolom yang tersedia di dataframe tersebut (hanya digunakan untuk dataframe saja).

In [40]:
df_super_store.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

**12. Atribute .counts()**

Atribute .counts() untuk menghitung jumlah data pada masing-masing kolom.

In [41]:
df_super_store.count()

Ship Mode       9994
Segment         9994
Country         9994
City            9994
State           9994
Postal Code     9994
Region          9994
Category        9994
Sub-Category    9994
Sales           9994
Quantity        9994
Discount        9994
Profit          9994
dtype: int64

**13. Atribute .value_counts**

Atribute .value_counts digunakan untuk mengetahui jumlah data kategori unik pada setiap kolom.

In [42]:
df_pilkada.head()

,Id,Sentiment,Pasangan Calon,Text Tweet
0,1,negative,Agus-Sylvi,Banyak akun kloning seolah2 pendukung #agussil...
1,2,negative,Agus-Sylvi,#agussilvy bicara apa kasihan yaa...lap itu ai...
2,3,negative,Agus-Sylvi,Kalau aku sih gak nunggu hasil akhir QC tp lag...
3,4,negative,Agus-Sylvi,Kasian oh kasian dengan peluru 1milyar untuk t...
4,5,negative,Agus-Sylvi,Maaf ya pendukung #AgusSilvy..hayo dukung #Ani...

In [43]:
df_pilkada.Sentiment.value_counts()

negative    450
positive    450
Name: Sentiment, dtype: int64

**14. Atribute .describe()**

Atribute .describe() digunakan untuk menampilkan ringkasan statistik data numerik pada sebuah dataframe.

In [44]:
df_super_store.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000