<a href="https://colab.research.google.com/github/SRIROSSAAISYAHPUTERIBAHARIE/PSDS-5.0/blob/main/STRUKTUR_DATA_TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SRI ROSSA AISYAH PUTERI BAHARIE**
#**2100015052**
**TUGAS PERTEMUAN 8**

#**STRUKTUR DATA TUPLE**

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefisinikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah Tuple", T1)

Ini adalah Tuple (1, 'dua', True, (1+2j))

In [2]:
T11 = 1, "dua", True, 1+2j
print("Ini adalah Tuple", T11)

Ini adalah Tuple (1, 'dua', True, (1+2j))

In [3]:
#Menampilkan Type Struktur Data
type(T1)
print("Ini adalah Tuple", T11)

Ini adalah Tuple (1, 'dua', True, (1+2j))

In [4]:
#Menampilkan Type Struktur Data
type(T1)
type(T11)

tuple

**SIFAT-SIFAT TUPLE**

In [5]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [6]:
#Tidak Bisa diganti/Immutable
T1[2] = "Manusia"

TypeError: ignored

In [7]:
#Dapat Diindeks/Slicing
print("Elemen kedua dari Tuple T1 adalah:", T1[1])

Elemen kedua dari Tuple T1 adalah: dua

In [8]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [9]:
#Tidak Dapat Menambahkan Elemen Baru
T1 = (1, "Dua", True, 1+2j)
print(f' Tuple\t: {T1}')

 Tuple	: (1, 'Dua', True, (1+2j))

In [10]:
T1.append(10)
T1.append(50)
print(f' Tuple\t: {T1}')

AttributeError: ignored

In [12]:
#Tidak Dapat Menghapus Elemen
T1 = (1, "Dua", True, 1+2j)
print(f' Tuple\t: {T1}')

 Tuple	: (1, 'Dua', True, (1+2j))

In [13]:
T1.remove(1)
T1.remove("Dua")
print(f' Tuple\t: {T1}')

AttributeError: ignored

**MENGGABUNGKAN TUPLE**

In [14]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'Dua', True, (1+2j), 3, 2.4, True, 2.4)

**LATIHAN 1**

In [15]:
#BUATLAH TUPLEMU SENDIRI
A = (10, 'Program', 10+24j)
A

(10, 'Program', (10+24j))

**LATIHAN 2**

In [16]:
#GABUNGKAN TUPLE
A = (10, 'Program', 10+24j)
print(A[1])
print(A[0:3])

Program
(10, 'Program', (10+24j))