<a href="https://colab.research.google.com/github/SRIROSSAAISYAHPUTERIBAHARIE/PSDS-5.0/blob/main/STRUKTUR_DATA_LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SRI ROSSA AISYAH PUTERI BAHARIE**
#**2100015052**
**TUGAS PERTEMUAN 8**

#**STRUKTUR DATA LIST**

List adalah jenis data terurut (Ordered Sequence), bisa diubah elemennya (Mutable), bisa ditambahkan elemen baru atau menghapus elemen (Chaengeable), dan merupakan salah satu variabel yang sering digunakan pada Phyton. Serupa, namun tak sama dengan Array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Phyton tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [1]:
#Contoh List
L1 = [1, 4, 2, 13]
print(type(L1))

<class 'list'>

In [2]:
L2 = ["a", "Phyton", 3]
print(type(L2))

<class 'list'>

In [3]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Phyton', 3]

**INDEKS DI PHYTON (LIST, TUPLE) MULAI DARI 0**

In [4]:
#Sifat-sifat List

#Terurut/Oedered
print("Memanggil List L1 dengan Indeks Urutan:", L1[0:3])

#Bisa diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "Dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat Diijinkan Duplikasi
L1 = [1, "Dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "Dua", True, 2+3j]
L1[2] = 3
print("Data setelah Diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "Dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "Dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan Indeks Urutan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada List L1: [1, 'Dua', True, (2+3j), (2+3j)]
Data setelah Diubah: [1, 'Dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'Dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'Dua', True]

In [5]:
#Menambahkan data menggunakan fungsi extend (menambahkan elemen baru pada List namun elemen tersebut ditambahkan secara individual)
L1 = [1, "Dua", True, 2+3j]
L1.extend("Nanas")
print(L1)

[1, 'Dua', True, (2+3j), 'N', 'a', 'n', 'a', 's']

In [7]:
L1 = [1, "Dua", True, 2+3j]
L1.extend(["Nanas"])
print(L1)

[1, 'Dua', True, (2+3j), 'Nanas']

In [8]:
#Menambahkan data menggunakan fungsi insert (menambahkan elemen baru di List pada indeks tertentu)
L1 = [1, "Dua", True, 2+3j]
L1.insert(2, 5)
print(L1)

[1, 'Dua', 5, True, (2+3j)]

In [9]:
#Menghapus elemen dari List menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [1, "Dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'Dua', (2+3j)]

In [10]:
L1 = [1, "Dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'Dua', True]

**LATIHAN 1**

In [12]:
#Buatlah List kalian sendiri

#List dapat diisi dengan type data apa saja misal string, integer, float, double, boolean
Mahasiswwa = ["Matematika", 10, True, 10.24]
A = [24]
print(A)

[24]

In [15]:
#List Nama-Nama Buah
Buah = ["Durian", "Anggur", "Mangga", "Jeruk", "Apel"]
print(Buah)
print(Buah[2])

['Durian', 'Anggur', 'Mangga', 'Jeruk', 'Apel']
Mangga

**LATIHAN 2**

In [20]:
#Ganti elemen yang ada pada List

In [21]:
#List awal
Buah = ["Durian", "Anggur", "Mangga", "Jeruk", "Apel"]

In [25]:
#Mengubah indeks ke-4
Buah[4] = ("Manggis")
print(Buah)

['Durian', 'Anggur', 'Mangga', 'Jeruk', 'Manggis']