<a href="https://colab.research.google.com/github/SRIROSSAAISYAHPUTERIBAHARIE/PSDS-5.0/blob/main/TUGAS_PERTEMUAN_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SRI ROSSA AISYAH PUTERI BAHARIE**
#**2100015052**
**TUGAS PERTEMUAN 7**

#**OPERATOR**

Operator simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.
Tipe-tipe operator :


1.   Operator Aritmatika
2.   Operator Assignment
3.   Operator Pembanding
4. Operator Logika
5. Operator *Membership*

#**OPERATOR ARITMATIKA**

Operator Aritmatika digunakan untuk melakukan operasi matematika yang umum.
Macam-macam Operator Aritmatika yaitu :

In [ ]:
+ : Penjumlahan
- : Pengurangan
* : Perkalian
/ : Pembagian
% : Modulus
** : Perpangkatan
// : Pembagian dengan hasil pembulatan flooring

#**CONTOH PENGGUNAAN OPERATOR ARITMATIKA**

In [1]:
#Penjulahan
print('Penjumlahan')
print(2+2)

#Pengurangan
print('Pengurangan')
print('-'*20)
print(2-3)

#Perkalian
print('Perkalian')
print('-'*20)
print(2*3)

#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)

#Modulus
print('Modulus')
print('-'*20)
print(3%2)

#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)

#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//2)

Penjumlahan
4
Pengurangan
--------------------
-1
Perkalian
--------------------
6
Pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
Perpangkatan
--------------------
8
Pembagian pembulatan flooring
--------------------
1

#**LATIHAN OPERATOR 1**

In [15]:
#Operasi Aritmatika
x = 20
y = 6

#Penjumlahan
print('x + y =', x+y)

#Pengurangan
print('x - y =', x-y)

#Perkalian
print('x * y =', x*y)

#Pembagian
print('x / y =', x/y)

#Pembagian dengan hasil pembulatan flooring
print('x // y =', x//y)

#Modulus
print('x % y =', x%y)

#Perpangkatan
print('x ** y =', x**y)

x + y = 26
x - y = 14
x * y = 120
x / y = 3.3333333333333335
x // y = 3
x % y = 2
x ** y = 64000000

#**OPERATOR ASSIGNMENT**

Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel.

In [ ]:
= : Contohnya x = 5 -> x = 5
+= : Contohnya x = x + 5 -> x += 5
-= : Contohnya x = x - 5 -> x -= 5
*= : Contohnya x = x * 5 -> x *= 5
/= : Contohnya x = x / 5 -> x /= 5
%= : Contohnya x = x % 5 -> x %= 5
//= : Contohnya x = x // 5 -> x //= 5
**= : Contohnya x = x ** 5 -> x **= 5

#**CONTOH PENGGUNAAN OPERATOR ASSIGNMENT**

In [2]:
#Penjumlahan
print('Penjumlahan')
x=5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('Pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
Pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Flooring
1
1
--------------------
Perpangkatan
3125
125
--------------------

#**LATIHAN OPERATOR 2**

In [21]:
a = 5
b = 3
b = b + 1
c = a + b
d = c + c + a
e = (c + d) * a

print('Isi Variabel a:', a)
print('Isi Variabel b:', b)
print('Isi Variabel c:', c)
print('Isi Variabel d:', d)
print('Isi Variabel e:', e)

Isi Variabel a: 5
Isi Variabel b: 4
Isi Variabel c: 9
Isi Variabel d: 23
Isi Variabel e: 160

#**OPERATOR PEMBANDING**

Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel.
Macam-macam Operator Pembanding :

In [ ]:
from types import DynamicClassAttribute
== -> samadengan
!= -> tidak samadengan
> -> lebih dari
< -> kurang dari
>= lebih dari dan samadengan
<= kurang dari dan samadengan

#**CONTOH PENGGUNAAN OPERATOR PEMBANDING**

In [3]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

#**LATIHAN OPERATOR 3**

In [18]:
x = 7
y = 10

print('x =', x)
print('y =', y)
print('\n')

print('x == y hasilnya', x==y)
print('x != y hasilnya', x!=y)
print('x > y hasilnya', x>y)
print('x < y hasilnya', x<y)
print('x >= y hasilnya', x>=y)
print('x <= y hasilnya', x<=y)

x = 7
y = 10


x == y hasilnya False
x != y hasilnya True
x > y hasilnya False
x < y hasilnya True
x >= y hasilnya False
x <= y hasilnya True

#**OPERATOR LOGIKA**

Operator Logika digunakan untuk mengkombinasikan statement-statement kondisional. Macam-macam operator logika :

In [ ]:
and -> kondisi menjadi benar apabila semua statementnya benar
or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar
not -> membalik hasil adri benar ke salah dan salah ke benar

#**CONTOH PENGGUNAAN OPERATOR LOGIKA**

In [4]:
print(True and False)
print(False or False)
print(not False and False)

False
False
False

#**LATIHAN OPERATOR 4**

In [19]:
print('Hasil dari True or True :', True and True)
print('Hasil dari True and False :', True and False)
print('Hasil dari False and True :', False and True)
print('Hasil dari False and False :', False and False)

print('\n')

print('Hasil dari not True :', not True)
print('Hasil dari not False :', not False)

Hasil dari True or True : True
Hasil dari True and False : False
Hasil dari False and True : False
Hasil dari False and False : False


Hasil dari not True : False
Hasil dari not False : True

#**OPERATOR MEMBERSHIP/KEANGGOTAAN**

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek. Macam-macam Operator Keanggotaan :

In [ ]:
in -> return True ketika nilai tertentu dalam sebuah urutan ada
not in -> return True ketika nilai tertentu dalam sebuah urutan tidak ada

#**CONTOH PENGGUNAAN OPERATOR KEANGGOTAAN**

In [5]:
a = (1, 2, 3, 4, 5, 6)
b = 2

print(b in a)

print('-'*20)
a = (1, 2, 3, 4, 5, 6)
b = 7
print(b not in a)

True
--------------------
True

#**LATIHAN OPERATOR 5**

In [22]:
MK = 'PSDS'
print('MataKuliah :', 'a' in MK)
print('\i\' in MataKuliah :', 'a' in MK)
print('\k\' not in MataKuliah :', 'k' not in MK)
print('\d\' not in MataKuliah :', 'd' not in MK)
print('\n')

x = ['a','b','c']
print('bar :', x)
print('\'a\' in bar :', 'a' in x)
print('\'a\') not in bar :', 'a' not in x)
print('\'d\' not in bar :', 'd' not in x)
print('\n')

Nilai = (65, 40, 98, 77)
print('Nilai :', Nilai)
print('102 in Nilai :', 65 in Nilai)
print('102 not in Nilai :', 100 not in Nilai)
print('35 not in Nilai :', 40 in Nilai)

MataKuliah : False
\i' in MataKuliah : False
\k' not in MataKuliah : True
\d' not in MataKuliah : True


bar : ['a', 'b', 'c']
'a' in bar : True
'a') not in bar : False
'd' not in bar : True


Nilai : (65, 40, 98, 77)
102 in Nilai : True
102 not in Nilai : True
35 not in Nilai : True

#**VARIABEL**

Variabel : Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.
syarat-syarat penamaan variabel :
1. Karakter-karakter yang digunakan untuk penamaan variabel adalah alphabet, angka, dan underscore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa phyton seperti for, if, dan lainnya.
4. Karakter pada nama variabel bersifat sensitif (case-sensitif).

In [6]:
#Membuat Variabel
Kalimat = 'Ini adalah Variabel'
Bilangan1 = 4
Bilangan2 = 2.5
Bilangan3 = True
Bilangan4 = 1j + 4

#Menampilkan Variabel
print(Kalimat)
print(Bilangan1)
print(Bilangan2)
print(Bilangan3)
print(Bilangan4)

Ini adalah Variabel
4
2.5
True
(4+1j)

#**LATIHAN 1**

In [23]:
#Membuat Variabel
Kalimat = 'Saya Seorang Pengusaha Sukses'
Bilangan1 = 10
Bilangan2 = 24
Bilangan3 = True
Bilangan4 = 7j + 2

#Menampilkan Variabel
print(Kalimat)
print(Bilangan1)
print(Bilangan2)
print(Bilangan3)
print(Bilangan4)

Saya Seorang Pengusaha Sukses
10
24
True
(2+7j)

#**TIPE DATA & KONVERSI TIPE DATA**

**TIPE DATA**

5 Tipe Data yaitu :
1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [7]:
#Menampilkan Tipe Data
print(type(Kalimat))
print(type(Bilangan1))
print(type(Bilangan2))
print(type(Bilangan3))
print(type(Bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

#**LATIHAN 2**

In [11]:
Var1 = 'Assalamualikum'
Var2 = 10072002 #int
Var3 = 0.10072002 #float
Var4 = False #bool
Var5 = 1j+1 #complex
Var6 = 'Bermain bersama Aisyah'

In [12]:
print(Var1) #Tipe Data String
print(Var2) #Tipe Data Integer
print(Var3) #Tipe Data Float
print(Var4) #Tipe Data Boolean
print(Var5) #Tipe Data Complex

Assalamualikum
10072002
0.10072002
False
(1+1j)

In [13]:
print(Var1, 'Tipe Data Var1:', type(Var1))
print(Var2, 'Tipe Data Var2:', type(Var2))
print(Var3, 'Tipe Data Var3:', type(Var3))
print(Var4, 'Tipe Data Var4:', type(Var4))
print(Var5, 'Tipe Data Var5:', type(Var5))

Assalamualikum Tipe Data Var1: <class 'str'>
10072002 Tipe Data Var2: <class 'int'>
0.10072002 Tipe Data Var3: <class 'float'>
False Tipe Data Var4: <class 'bool'>
(1+1j) Tipe Data Var5: <class 'complex'>

**KONVERSI TIPE DATA**

In [8]:
#Konversi Tipe Data Integer
print(int(Bilangan2))
print(int(Bilangan3))

#Konversi Tipe Data Float
print(float(Bilangan1))
print(float(Bilangan3))

#Konversi Tipe Data String
print(str(Bilangan1))
print(str(Bilangan2))
print(str(Bilangan3))

#Konversi Tipe Data Bool
print(bool(Bilangan1))
print(bool(Bilangan2))

#Konversi Tipe Data Complex
print(complex(Bilangan1))
print(complex(Bilangan2))
print(complex(Bilangan3))

2
1
4.0
1.0
4
2.5
True
True
True
(4+0j)
(2.5+0j)
(1+0j)

#**LATIHAN 3**

In [9]:
number = 20
print("data =", number, ", type =", type(number))

data = 20 , type = <class 'int'>

In [14]:
#Mengkonversi Tipe Data Integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

#Melihat Data yang telah dikonversi
print("data =", kon_float , ",type =", type(kon_float))
print("data =", kon_str , ",type =", type(kon_str))
print("data =", kon_bool , ",type =", type(kon_bool))

data = 20.0 ,type = <class 'float'>
data = 20 ,type = <class 'str'>
data = True ,type = <class 'bool'>